<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/region.css' %}" >
</head>
<body>
<div class="bjui-pageContent">
    <div id="regionDiv" style="overflow:hidden;">
    <div class="region-header" style="overflow:hidden;">
        <div class="region-header-left">
            <h3 style="">恶意URL监测</h3>
        </div>
        <div class="region-header-right">

      <span><button   class="btn btn-success" onclick="URLstart(this)" ><i class="fa fa-star"></i>&nbsp;开始</button></span>
     <span><button   class="btn btn-refresh" id="refresh" onclick="openMytab(this)"><i class="fa fa-undo"  ></i>&nbsp;刷新</button></span>

    <span><button   class="btn btn-orange"  onclick="URLstop(this)"><i class="fa fa-stop"></i>&nbsp;停止</button></span>
            <span><button   class="btn btn-danger" onclick="URLdel(this)" ><i class="fa fa-trash-o"></i>&nbsp;删除</button></span> </div>
    </div>
{#     <div id="layout-01" style="width:100%;height:100% ;overflow-x:hidden;overflow-y: auto " class="bjui-layout"  data-toggle="autoajaxload"#}
{#                     data-url="/URLrequestAuto" data-loadingmask="false" data-autorefresh="15">#}

         </div>
    <br>
     <iframe src="/URLquery" name="URLquery" frameborder="0" style="width: 100%;height: 100%"></iframe>
</div>
<div class="bjui-pageFooter">
    <div style="text-align: center ">
        <ul class="pagination" style="margin: 0px">
            <li {% if not curuent_Page.has_previous %}class="disabled" {% endif %}>
                <a href="/URLquery" target="URLquery" >«</a>
            </li>
        {% if not curuent_Page.previous_page_number %}
            <li>
                <!--如果当前页数是第一页，那么点上一页仍然是当前页。 -->
                <a href="/URLquery?page={{ curuent_Page.previous_page_number }}" target="URLquery">上一页</a>
            </li>
            {% else %}
                <li>
                <!--如果当前页数是第一页，那么点上一页仍然是当前页。 -->
                <a href="/URLquery?page=1" target="URLquery">上一页</a>
            </li>
        {% endif %}
            <!--判断最大页数是否超过X，如果超过X则是X，否则是最大页数。防止分页信息过长 -->
             {% for page_range in pag_range %}
                {% if current_Page_num == page_range %}<!--判断遍历的页数是否为当前页，是就添加.avtive 背景色变蓝-->
                    <li class="active"><a href="/URLquery?page={{ page_range }}" target="URLquery">{{ page_range }}</a></li>
                {% else %}
                    <li><a href="/URLquery?page={{ page_range }}" target="URLquery">{{ page_range }}</a></li>
                {% endif %}
            {% endfor %}

                {% if not end %}
                    <li class="disable">
                        <a href="/URLquery?page={{ curuent_Page_num }}" target="URLquery">下一页</a>
                    </li>
                    {% else%}
                    <li>
                        <a href="/URLquery?page={{ current_Page.next_page_number }}" target="URLquery">下一页</a>
                    </li>
                {% endif %}
            <li {% if not end  %}
            class="disabled"
            {% endif %}>
                <a href="/URLquery?page={{ maxLen }} " target="URLquery">»</a>
            </li>
        </ul>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>



</body>
</html>
