<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/region.css' %}" >
</head>
<body>
<div class="bjui-pageContent">
    <div id="regionDiv" style="overflow:hidden;">
    <div class="region-header">
        <div class="region-header-left">
            <span style="">响应流量检测</span>
        </div>
        <div class="region-header-right">

<span><button   class="button_1" onclick="DGAstart(this)"><i class="fa fa-star"></i>&nbsp;开始</button></span>
     <span><button   class="button_2" id="refresh" onclick="openMytab(this)"><i class="fa fa-undo"  ></i>&nbsp;刷新</button></span>

    <span><button   class="button_3"onclick="DGAstop(this)"><i class="fa fa-stop"></i>&nbsp;停止</button></span>
            <span><button   class="button_4" ><i class="fa fa-trash-o"></i>&nbsp;删除</button></span>
        </div>

    </div>
    <div id="layout-02" style="height:94% ; overflow:auto;" class="bjui-layout"  data-toggle="autoajaxload"
                     data-url="/DGAquery?dga_type=response" data-loadingmask="false" data-autorefresh="2">

    </div>
</div>
</div>
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>
